body {
    background-color: #f5f5f6;
    font-family: monospace;
    color: #000;
    text-shadow: 0 1px 3px #888888;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    background-color: #E1E2E1;
}

.container h1 {
    padding-left: 20px;
}

.part {
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 8px #888888;
    background-color: #03A9F4;
    margin-bottom: 8px;
}

.attrib {
    display: flex;
    flex-direction: column;

    height: 50px;
    color: #ffffff;
}

.attrib .title {
    background-color: #007AC1;
    font-size: 16px;
}

.attrib .content {
    font-size: 20px;
}

.part_name {
    width: 40%;
}

.part_num {
    width: 30%;
}

.part_on_hand {
    width: 15%;
}

.part_ordered {
    width: 15%;
}

.part_needed {
    width: 15%;
}

.part_needed .content{
    /*text-align: center;*/
    /*font-size: 26px;*/
}